@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}


.container-header {
    position: relative;
    width: 100%;
    max-width: 100%;
    padding-top: calc(100% / 2.39);
    overflow: hidden;
}


.teste {

    background: hsla(31, 95%, 92%, 1);

    background: radial-gradient(circle, hsla(31, 95%, 92%, 1) 0%, hsla(0, 100%, 98%, 1) 100%);

    background: -moz-radial-gradient(circle, hsla(31, 95%, 92%, 1) 0%, hsla(0, 100%, 98%, 1) 100%);

    background: -webkit-radial-gradient(circle, hsla(31, 95%, 92%, 1) 0%, hsla(0, 100%, 98%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FEEBD6", endColorstr="#FFF4F4", GradientType=1);
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}